<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>940262063438-nfon7hg9uc7umqhfbvm2b6v5udrgcrkh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.940262063438-nfon7hg9uc7umqhfbvm2b6v5udrgcrkh</string>
	<key>API_KEY</key>
	<string>AIzaSyAhiWMIIYLelqIqZBaozKhz-cgmeXapBgc</string>
	<key>GCM_SENDER_ID</key>
	<string>940262063438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cosmealvess.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-41b7f</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-41b7f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:940262063438:ios:d38e95ca903361bc8a721f</string>
</dict>
</plist>